*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu-bar  {
    text-align: center;
    background-color: gray;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: rgb(219, 34, 34);
}
.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a{
    text-decoration: none;
    color:#fff;
}


.active, .menu-bar ul li:hover{
    background:maroon;
    border-radius: 3px;
}


  body{
    font-size: 30px;
    color: red;
  }