<!DOCTYPE html>
<html lang ="en">

<link rel = "stylesheet" href="/css/style.css>
<head>
<meta charset = "UTF-8">
<title><%title %></title>
</head>
<body>
<h1> Welcomne to <%= title %>!</h1>
</body>
<html>
